*{
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #222222;
}
main {
    width: 600px;
    margin: 100px auto;
    padding: 70px;
    text-align: center;
    font-size: 50px;
    border-radius: 10px;
    background-color: #0d0d2b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.watch span {
    width : 55px;
    color: white;
    margin: 3px;
    padding: 20px;
    border-radius: 12px;
    background-color: #3b3b68;
}
.buttons {
    margin-top: 3rem;
}
.buttons button {
    border: none;
    font-size: 24px;
    width: 110px;
    height: 45px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}           
button:nth-of-type(1) {
    background-color: #006A4E;
}
button:nth-of-type(3) {
    background-color: #6699CC;
}
button:nth-of-type(2) {
    background-color: tomato;
}
button:hover {
    background-color: #4C516D;
}